* {
    margin: 0px;
    padding: 0px;
}

body {
 
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: #2874f0;


}
.login {
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 25px;
    margin: 37px 0px;
    color: blue;
    cursor: pointer;
   

}
.fa-cart-shopping {

    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    margin: 32px 30px;
    color: white;
    word-spacing: 40px;
}

header h1 {
    padding: 2%;
    margin-left: 10%;
    color: white;
    margin-right: 50%;
}


.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5% 0%;
    background-color: rgb(245, 246, 245);
    box-shadow: 0 0 20px rgb(86, 81, 82);
    flex-basis: 50%;


}

.form-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-top: 10%;
}

.form-group label {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;

}


.form-group input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
}

.form-group input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.error-message {
    color: red;
    background-color: rgb(196, 222, 223);
    border-radius: 5px;
    position: absolute;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgb(79, 71, 71);
    font-weight: bold;
    margin-left: 2%;
    padding: 2%;

}

.checkbox1 {
    display: flex;
}

@media (max-width:460px) {
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-basis: 100%;


    }

    .form-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: -40px;


    }

    form-group label {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 5px;
        font-weight: bold;

    }


    .form-group input {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        border-radius: 5px;
    }

    .form-group input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }

    .error-message {
        justify-content: center;
        flex-basis: 100%;
        position: relative;

    }

    .checkbox1 {
        display: flex;
    }

    header h1 {
      
        margin-right: 10%;
    }
}