* {
    margin: 0px;
    padding: 0px;
}

.main-container {

    display: flex;
    flex-wrap: wrap;
    gap: 2.3rem;
    justify-content: center;
    margin: 5% 0%;


}

.cart {
    flex-basis: 20%;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 0 10px grey;
    margin: 40px 0px;
    padding: 20px 0px;

}

.img {
    width: 100%;
    height: 320px;

}

.title {

    color: black;
    text-align: center;

}

.price {

    color: green;
    text-align: center;

}

.rate-id {
    display: flex;
    color: white;
    background-color: #388e3c;
    border-radius: 7px;
    margin: 0px 150px;
    padding: 5px;

}

.rating {

    display: flex;
    align-items: center;
    justify-content: center;


}

.btn {
    display: flex;
    justify-content: space-around;
}

button {
    padding: 10px;
    background-color: #fb641b;
    color: white;
    border-radius: 10px;
    border: none;
}

.add-cart {
    background-color: #ff9f00;
    border: none;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: #2874f0;


}

header h1 {
    padding: 2%;
    margin-left: 10%;
    color: white;
}

.search {
    margin-left: 20%;
    padding: 2%;
    color: white;
    font-size: 20px;
    font-size: 25px;

}

.search select {
    border-radius: 10px;
    padding: 8px;
    margin-left: 10px;
    font-size: 20px;
}

.login {
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 25px;
    margin: 37px 0px;
    color: blue;
    cursor: pointer;

}

.Sign-up {
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 25px;
    margin: 37px 0px;
    color: blue;
    cursor: pointer;


}

.signUp-link {
    text-decoration: none;
    border: none;
}

.fa-cart-shopping {

    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    margin: 32px 30px;
    color: white;
    word-spacing: 40px;
}

.fa-star {
    font-size: 15px;
    margin-left: 5px;
}

footer {

    background-color: #b2b1b1;
    justify-content: space-around;
    display: flex;
    padding: 2%;
}

.payment-icons {

    display: flex;
    gap: 1rem;
    margin-top: 10px;

}

.payment-mode {
    height: 50px;
    width: 50px;
    border-radius: 10px;

}

.loader {
    display: none;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    margin: 12% 45%;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width:460px) {

    footer {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding-bottom: 10%;
    }

    .text {
        text-align: center;
        order: 0;

    }

    .payment-icons {
        order: -1;
    }

    .rate-id {
        display: flex;
        color: white;
        background-color: #388e3c;
        border-radius: 7px;
        margin: 0px 150px;
        padding: 5px;

    }

    .rating {

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .loader{
        margin-left: 30%;
    }

}